input {
    keyboard {
        xkb {
            // Map caps lock to escape
            options "caps:escape"
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        scroll-method "two-finger"
    }

    mouse {
        accel-profile "flat"
        scroll-button 274
        scroll-button-lock
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // focus-follows-mouse max-scroll-amount="0%"
}

layout {
    background-color "transparent"
    gaps 16

    // Focusing an off-screen column will keep at the left or right edge of the screen.
    center-focused-column "never"

    // The widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 1.0
        proportion 0.75
        proportion 0.5
        proportion 0.25
    }

    // Default width of new windows
    default-column-width { proportion 0.5; }

    focus-ring {
        // How many logical pixels the ring extends out from the windows.
        width 1

        // Color of the ring on the active monitor.
        active-color "#aaaaaa"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"
    }

    border {
        off
    }

    shadow {
        off

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "noctalia-shell"

// Disable the "Important Hotkeys" pop-up at startup.
hotkey-overlay {
    skip-at-startup
}

// Omit window decorations when possible.
prefer-no-csd

// Disable saving screenshots to disk.
screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Rounded corners on all windows
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    Mod+Return hotkey-overlay-title="Open a Terminal" { spawn-sh "exec $TERMINAL"; }
    Mod+Space hotkey-overlay-title="Open App Launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia-shell ipc call lockScreen lock"; }

    // Volume keys mappings
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Media keys mapping
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightness key mappings
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Q repeat=false { close-window; }

    // Mod + direction => navigate windows
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    // Mod + shift + direction => move windows
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternatively navigate with scroll wheel
    Mod+WheelScrollDown         cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp           cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight        cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollLeft         cooldown-ms=150 { focus-column-left; }
    Mod+Alt+WheelScrollDown     cooldown-ms=150 { focus-column-right; }
    Mod+Alt+WheelScrollUp       cooldown-ms=150 { focus-column-left; }

    // Refer to workspaces by index.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Move the focused window in and out of a column.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Cycle through width/height presets.
    Mod+R { switch-preset-column-width; }
    Mod+Alt+R { switch-preset-window-height; }

    // Maximize, monocle, and fullscreen
    Mod+F { maximize-window-to-edges; }
    Mod+Alt+F { fullscreen-window; }

    Mod+C { center-column; }

    // Finer width/height adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Alt+Minus { set-window-height "-10%"; }
    Mod+Alt+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+S       { toggle-window-floating; }

    // Toggle tabbed column display mode.
    Mod+T { toggle-column-tabbed-display; }

    // Screenshot
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Escape input passthrough (e.g. for VMs).
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Powers off the monitors.
    Mod+Shift+P { power-off-monitors; }
}
